/*!
 * LeadPages (http://leadpages.net)
 * Copyright 2014 LeadPages.
 */


/* Header */
.header img {
  margin-top: 0; padding: 0;
  width: 100px;
  height: 100px;
  text-align: left;
}
.header{background: #F1B750;margin-top: 0;padding:20px 0px;}
.header h1{color: black;margin-top: 0;font-size: 2.4em;text-align: center}
.header h2{color: black;margin-top: 0;font-size:1.8em;font-weight: 200;text-align: center}
.fan-text{max-width: 90px;text-align: center;position: absolute;top: 16px;margin-left: 630px;}
.top-arrow{display: inline;}
.fan-text p{color: #9fadc8;font-family: 'Courgette', cursive;font-size: 1.3em;line-height: 22px;} 


.part1 {
  padding: 0px;
  color: #666666;
  background: #F1B750;
  font-family: 'Source Sans Pro', sans-serif;
}
.part2 {
  padding: 20px;
  color: #666666;
  background: white;
  font-family: 'Source Sans Pro', sans-serif;
}
a{color: #46639d;text-decoration: underline;}
a:hover{color: #46639d;}

/* Video */
.video-section {
	padding-left: 10px;
	padding-right: 10px;
}

.video-holder {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	padding 10px; border: 10px solid white;
}

.video-holder iframe {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
}


/* Buttons */
.btn-section{text-align: center;}
.btn-main{padding:15px 40px; color: white;border-radius: 40px; background-color: #FF5050;font-size:1.8em;font-weight:700;margin:20px auto;}
.btn-main:hover{background-color: #FFFFFF;color: #FF5050;border: 2px solid #FF5050;}

.btn-link{font-size: 1.2em;margin-bottom: 30px;}

.btn-section2{text-align: center;}
.btn-main2{color: white;border-radius: 40px;background-color: #FF5050;font-size:1.8em;font-weight:700;padding:15px 40px;-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;}
.btn-main2:hover{background-color: #FFFFFF;color: #FF5050;border: 2px solid #FF5050;}
.btn-link{font-size: 1.2em;margin-bottom: 30px;}

.btn-link{font-size: 1.2em;margin-bottom: 30px;}
/* List */
.check-list {color:#7a7a7a;margin:10px;font-size: 1.2em;letter-spacing: 0.05em;list-style: none;padding-left: 0px;}
.check-list li{margin:10px 0px 50px;background: url('../img/check.png') no-repeat left center;padding-left: 60px;}
/*.check-img{margin-right: 30px;display: block;float: left;}*/

.btm-arrow{position: absolute;margin-top:-30px;margin-left:20px;}

/* Footer */
footer{color:#cbcbcb;font-size:0.9em;font-weight:100;background: #ffffff;padding:48px 0px;}
.fb-code, .legal{float:left;}
.fb-code{width:41.66666666666667%;}
.legal{width:58.333333333333336%}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  header,
  footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  header {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 720px) {
  .fan-text{display:none;}
  .fb-text, .fb-code, .fb-code, .legal{float:none;width:100%;text-align: center;}
  .fb-code{margin:10px 0;}
  .btm-arrow{display:none;}
  .btn-main{padding: 20px 15px;}
}